h1 {
  display: none;
}

* {
  font-family: 'Myriad Pro', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 18px;
  color: #555;
}

body {
  text-align: center;
}

#container {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

h2,h3,h4,h5,h6 {
  font-weight: normal;
}
.name, .also_known_as, h2, h3, h4, h5, h6, h3 a {
  color: #333;
}

#bio .cl {
  font-size: 24px;
}

#header {
  text-align: center;
}

.name {
  font-size: 36px;
}



#header .also_known_as_title {
  font-size: 30px;
  color: gray;
}

.also_known_as * {
  color: #000;
}

.icon_and_bio .icon {
  float: left;
  margin-right: 15px;
  text-align: center;
  font-size: 10px;
}

.icon img {
  -webkit-box-shadow: 0px 0 5px #aaa;
  -moz-box-shadow: 0px 0 5px #aaa;
  box-shadow: 0px 0 5px #aaa;
}

#contacts_pages {
  clear: left;
}

#bio {
  margin-top: 50px;
}

#bio, #contacts_pages, #skills, #products, #works, #talks, #other, #footer, .icon {
  margin-bottom: 35px;
}

#footer {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid gray;
  margin-top: 10px;
}

#ads {
  margin-top: 50px;
}

h2 {
  font-size: 30px;
}

.time {
  color: #333;
  font-size: 18px;
}

h3,h3 a {
  font-size: 20px;
  margin-bottom: 5px;
}

.cl, .cl a {
  color: #0B8BBB;
}

.as {
  color: #333;
}

#contacts_pages ul {
  list-style: none;
  padding-left: 0px;
}

#contacts_pages img {
  vertical-align: middle;
  margin-right: 5px;
}

#contacts_pages li {
  margin-bottom: 3px;
}

.id_right, .id_left {
  float: left;
  width: 375px;
}

#contacts_pages h2 {
  margin-bottom: 0;
}
