h1 {
  display: none;
}

* {
  font-family: 'Myriad Pro', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 18px;
  color: #555;
}

body {
  text-align: center;
}

#container {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

h2,h3,h4,h5,h6 {
  font-weight: normal;
}
#header div,h2,h3,h4,h5,h6,h3 a {
  color: #333;
}



#header {
  text-align: center;
}

#header .name {
  font-size: 80px;
}

#header .also_known_as_title {
  font-size: 30px;
  color: gray;
}

#header .also_known_as {
  font-size: 40px;
}

.icon_and_bio .icon {
  float: left;
  margin-right: 10px;
  text-align: center;
  font-size: 10px;
}

#contacts_pages {
  clear: left;
}

#bio, #contacts_pages, #skills, #products, #works, #talks, #other, #footer, .icon {
  margin-bottom: 35px;
}

#footer {
  text-align: center;
  padding-top: 50px;
  margin-top: 1px solid gray;
  margin-top: 10px;
}

h2 {
  font-size: 30px;
}

.time {
  color: #333;
  font-size: 20px;
}

h3,h3 a {
  font-size: 20px;
  margin-bottom: 10px;
}
